
/*@media (orientation:horizontal)*/
body{
  background-color:#484848;  
  width: 100%;
}
#navbarSupportedContent{
  width: 100%;
  margin: 0;
  box-sizing: unset;
}
#mainContainer{
  width: 100vw;
  height: 100vh;
  box-sizing: unset;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
#navBar{
  width: 100%;
  box-sizing: unset;
  position: static;
  top: 0cm;
  left: 0cm;
  min-height: 5vh;
  
}
#header{
  width: 100vw;
  margin: 0;
}
.wrapper{
  display:flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vw;
  margin: 0;
  padding: 0;
  color:  #000000;
  z-index: 0;
  top: 0em;
  left: 0em;
}
.Main{
  text-align: center;
  z-index: 0;
  display:inline-block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0em;
  background-color: #484848;
}
.Screen{
  text-align: center;
  display:inline-block;
  width: 100vw;
  min-height: 93vh;
}
.Screen[style*='visible']{
  z-index: 1;
  transition-duration: 2s;
  min-height: 95vh;
}
.dot{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#end{
  height: 10vh;
}
/*.Footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease;
  z-index: 999;
  display:inline-block;
  text-align: center;
  width: 100%;
  height: 10%;
  font-size: 30px;
  align-items:  center;
  background-color: #555;
  padding: 0em;

}
.Footer a{
  text-decoration: none;
  margin: 0em;
  text-align: center;
  color: white;
  float: left;
  font-size: 16vw;
  transition: all 0.3s ease;
  width: 20%;
  height: 100%;
}*/
i{
  width: 100%;
  margin: 0em;
  padding: 0em;
}
.active{
  background-color: #ff6547;
  text-decoration-color: white;
}
.Picture{
  z-index: 2;
  position: relative;
  align-self: center;
  height: 100%;
}

.divfriendbox{
  text-decoration: white;
  background-color: white;
  text-align: left;
}
#Eventtypehead{
    color:white;
    font-size: 2.5vh;
    display:inline-block;
    vertical-align: middle;
    padding-top: 3vh;
  }
#Eventlistpublic{
  display: grid;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#Eventlistprivate{
  display: grid;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.Eventlistprivatedesign{
  background-color: white;
  border-color:#ff6547 ;
  min-width: 0;
}
  #eventhead{
    color:#ff6547;
    font-size : 4vw;
    text-align: center;
    padding-bottom: 2vh;
    display: block;
    margin: 0;
  }
  #meetlogo{
    width: 5cm;
    height: 6cm;
    text-align: center;
    margin: 0px 0px -40px 0px;
  }
  #untereReihe{
    width: 100vw;
    padding-right: 0cm;
    padding-left: 0cm;
    margin: 0;
  }
  #eventsubheads{
    color:white;
    font-size : 2.5vw;
    text-align: left;
    width: 100%;
    padding-left: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #eventtitle{
    border-color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 70%;
    height: 5vh;
    padding: 0;
    font-size: 3.5vh;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #eventtime{
    border-color:rgb(0, 0, 0);
    border-width: 0mm;
    background: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 0em;
    font-size: 4vw;
    text-align: center;
   
  }
  .addFriendBox{
    width: 80%;
    min-width: 380px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
  }
  .Eventpicture{
    float: left;
    width: auto;
    height: 10vh;
    border-radius: 50%;
  }
  .Eventpicture img{
    object-fit: cover;
    border: #000000;
    border-style: solid;
    border-radius: 50%;
    margin-top: 1.5vh;
    height: 7vh;
    width: 7vh;
    margin-left: 2.5vw;
  }

  .Eventdesc{
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    height: 10vh;
    line-break: strict;
    word-wrap: break-word;
    padding-right: 9vh;
    padding-top: 2vh;
  }
  #eventdesc{
    border-color:rgb(0, 0, 0);
    border-width: 0mm;
    background: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 15vh;
    padding: 0em;
    font-size: 30px;
    text-align: center;

  }

  #map{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    height: 93.75vh;
  }

  #map2{
    border-color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30vh;
    font-size: 3vw; 
    text-align: center;
  }

  #eventVisibility{
    margin-left: auto;
    margin-right: auto;
    width: 70%;

  }
  #friendsListCB{
    width: 70%;
  }
  #eventtype{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(4);
    text-align: center;
  }

  #eventtypetext{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:white;
    
    font-size : 20px;
    text-align: left;
    display:inline-block;
    width: 70%;
  }
  
  .friendbox{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 2px solid #ff6547;
    background-color: #fff;
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    margin-left: 47%;
  }
  .neu form{
    height: 7vh;
    width: 70%;
  }
  .multiselect {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  .selectBox{
    position: relative;
    height: auto;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
    margin-left: auto;
    margin-right: auto;
    max-height: 20vh;
    overflow:overlay;
    border-top: 0px;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  
  #public{
    text-align: left;
    margin-top: 20;
    margin-left: 100px;
  }
  #private{
    text-align: left;
    margin-top: 20;
    margin-left: 100px;
  }

  #freundeeinladen{
    color:white;
    font-size : 25px;
    text-align: left;
    width: 100%;
    padding-left: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border-width: 5px;
    border-color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    word-wrap: normal;
    /* flex-flow: row wrap; */
    align-items: stretch;
    align-content: space-around;
    width: 100%;
    height: 10vh;
    font-size: 2vh;
    text-align: left;
  }
    
  .customMarker {
    position: absolute;
    cursor: pointer;
    background: #424242;
    width: 100px;
    height: 100px;
    /* -width/2 */
    margin-left: -50px;
    /* -height + arrow */
    margin-top: -110px;
    border-radius: 50%;
    padding: 0px;
  }
  
  .customMarker:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #424242 transparent;
    display: block;
    width: 0;
  }
  
  .customMarker img {
    object-fit: cover;
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
  }

  /**Map**/
  .gm-style-iw{
    background-color:  #484848 !important;
    overflow: hidden !important
    
  }

  .gm-style-iw-d{
    background-color:  #484848 !important;
    overflow: hidden !important
    
    
  }
  
  #infowindow{
    min-width: 35vh;
    min-height: 10vh;
    background-color: #484848;

  }
  #eventJoinButton{
    background-color: #ff6547;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;

  }
  #infowindow_pic{
    width: 100%;
    float: none;
    padding: 0;
  }
  #infowindow_pic div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  #infowindow_pic h1{
    color: white;
    width: 100%;
    margin:0;
    font-size: 2vh;
    text-align: left;
    margin-left: 10%;
  }
  #infowindow_pic h2{
    color: white;
    font-size: 2vh;
    text-align: left;
    font-weight: bold;
  }

  

  #infowindow_pic h3{
    margin-left: 10%;
    text-align: left;
    font-size: 2vh;
    color: white;
  }
  #infowindow_pic img{
    
    margin: auto;
  }

  #infowindow_text{
    width: 100%;
    float: right;
    font-size: 1.5vw;
  }
  #infowindow_text h2{ 
    font-size: 2vh;
    color: white;
    float: left;
    font-weight: bold;
    margin: 0;
  }
  #infowindow_pic p{
    color: #ff6547;
    word-wrap: break-word;
    font-size: 2vh;
    margin-top: 8px;
    padding-top: 5px;
    margin: 0;
  }


  #infowindow_text p{
    
    word-wrap: break-word;
    font-size: 2vh;
    margin-left: 10%;
    color: white;
    text-align: left;
  }
  #friendSelection{
    height: 10vh;
    background : white;
  }
  #friendSelection input{
    float:left;
    margin-top: 3.5vh;
    margin-left: 1vw;
  }
  .friendCheckbox{
    float: left;
    margin-left: auto;
    margin: auto;
  }
  #friendImg{
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    height: 7vh;
    width: 7vh;
    text-align: left;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  #friendUsername{
    display: inline-block;
    color: black;
    font-size: 20px;
    min-width: 30%;
  }
  
  #submitevent{
    border-radius: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    display: block;
    font-size: 20px;
    background-color: #ff6547;
    color:white;
    display:inline-block;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    white-space: normal;
  }
    /* Chat */

    #chat{
      display: inline-block;
    }
  
    #messages{
      /* margin: 0em;
      padding: 0em;
      width: 60%;
      margin-bottom: 8vh; */
      word-break: break-all;
      height: 5vh;
      width: 79%;
      font-size: 20px;
      border-top-right-radius: 0px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .chatList{
      margin-top: 2vh;
      list-style: none;
      color: black;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      margin-bottom: 90px;
    }
    
   .chatList li{
     min-height: 5vh;
     background-color: white;
     border-style: solid;
     border-width: 2px;
     border-radius: 15px;
     display: inline-block;
     width: 100%;
   }
    
    #messages li{
      background-color: white;
      padding: 2vw;
      margin: 2vw;
      list-style: none;
      width: 60%;
      display: block;
      border-radius: 30px;
      font-size: 3vw;
      text-align: right;
    }

    .chatList li div{
      float: right;
      width: 80%;
    }
    #chat form{
      background-color: #484848;
      width: 100vw;
      padding: 0em;
      margin: 0em;
      position: fixed;
      bottom: 0vh;
      padding-top: 1vh;
    }

    #messagebutton{
      float: left;
      width: 80px;
      border-radius: 15px;
      height: 5vh;
      margin-right: 3vh;
    }
    #messagebutton button{
      float: left;
      width: 80px;
      background-color: #ff6547;
      border-radius: 15px;
      height: 5vh;
    }

    #messagecontent{
      float: left;
      word-break: break-all;
      text-align: left;
      width: 100%;
    }
    #sender{
      text-align: left;
      width: 100%;
    }
    #messageButtonBar{
      background-color: #343a40 !important;
      width: 80%;
      margin : auto;
    }
    #message{
      word-break: break-all;
      height: 5vh;
      width: 79%;
      font-size: 20px;
      border-top-right-radius: 0px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    
    #button{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 10px;
      width: 20%;
      margin-left: auto;
      height: 5vh;
      display: block;
      font-size: 20px;
      background-color: #ff6547;
      color: white;
      display: inline-block;
      text-align: center;
      margin-top: 2vh;
      margin-bottom: 2vh;
      white-space: normal;
      padding: 0%;
  }
    
      #eventChatHead{
      background-color: #ff6547;
      border-radius: 8px;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 2px 1px;
      cursor: pointer;
      }
      .chatFooter{
        background-color: #343a40!important;
      }
      
    /* Event Overview*/
    
    
    /* Friends */
    #friends{
      display: inline-block;
    }
    #friends_constainer{
      padding: 0;
      margin-bottom:12vh;
    }

    #searchResultBullet{
      list-style: none;
    }
    #friendSearch{
      margin-left: auto;
      margin-right:auto;
      width :80%;
      white-space: nowrap;
      overflow: visible;
      text-overflow: ellipsis;
    }
    .searchResultPic{
      list-style: none;
      object-fit: cover;
      border-radius: 50%;
      border-style: none;
      height: 7vh;
      width: 7vh;
      text-align: left;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
    }
    #name{
      word-break: break-all;
      height: 5vh;
      width: 79%;
      font-size: 20px;
      border-top-right-radius: 0px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px
    }
    #searchFriendButton{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 20%;
      margin-left: auto;
      height: 5vh;
      display: block;
      font-size: 20px;
      background-color: #ff6547;
      color:white;
      display:inline-block;
      text-align: center;
      margin-top: 2vh;
      margin-bottom: 2vh;
      white-space: normal;
      padding: 0%;
    }
    #friends form{
      background-color: #484848;
      width: 100vw;
      padding: 0em;
      margin: 0em;
      position: fixed;
      bottom: 0vh;
      padding-top: 1vh;
    }
    #friends_constainer{
      text-align: left;
      width: 80%;
      background-color:white;
      margin-left: auto;
      margin-right: auto;
      min-width: 380px;
      list-style-type: none;
    }
    .searchResultBar{
      
      margin-left: auto;
      margin-right:auto;
      white-space: nowrap;
      overflow: visible;
      text-overflow: ellipsis;
      display:inline-block;
      vertical-align:top;
    }
    #searchFriendName{
      display: inline-block;
      margin: 0%;
      min-width: 30%;
      font-size: 20px;
      white-space: nowrap;
      text-align: float-left;
    }
    .searchFriendButton{
      display: inline;
      background-color: #ff6547;
      border-radius: 10px;
      color: white;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      white-space: nowrap;
      overflow: visible;
      text-overflow: ellipsis;
    }
    
    #btn_call{
      display: inline;
      background-color: #ff6547;
      border-radius: 10px;
      color: white;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      white-space: nowrap;
      overflow: visible;
      text-overflow: ellipsis;
    }
    #inquiry div{
      background-color: white;
      border-color: #ff6547;
      margin-left: auto;
      margin-right: auto;
    }

    #inquiry{

      color:white;
      font-size : 2.5vw;
      text-align: left;
      width: 100%;
      display: inline;
    }
    #myInquiry{
      color:white;
      font-size : 2.5vw;
      text-align: left;
      width: 100%;
      display: inline;
    }
    
    #currentFriends{
      color:white;
      font-size : 2.5vw;
      text-align: left;
      width: 100%;
      display: inline;
    }
    #searchForFriends{
      color:white;
      font-size : 25px;
      text-align: left;
      width: 100%;
      display: inline;
    }

    #friendName{
      display: inline-block;
      color: black;
      font-size: 20px;
      min-width: 30%;
    }

    #myInquiry div{
      background-color: white;
      border-color: #ff6547;
      border-width: 2mm;
      margin-left: auto;
      margin-right: auto;
    }
    #currentFriends div{
      background-color: white;
      border-color: #ff6547;
      margin-left: auto;
      margin-right: auto;
    }

    #img_friend{
      object-fit: cover;
      border-radius: 50%;
      border-style: solid;
      height: 7vh;
      width: 7vh;
      text-align: left;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
    }
    
   
  
    /* Profil */
    #meetlogoprofil{
        width: 5cm;
        height: 6cm;
        text-align: center;
        margin: 0px 0px -60px 0px;
      }
    #imgdiv{
      display:inline-block;
      height: 20%;
      width: 100%;
      text-align: center;
      margin-bottom: 4vh;
    }
    #img{
      display:inline-block;
      object-fit: cover;
      border-radius: 50%;
      height: calc(22vh);
      width: calc(22vh);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    #changePicture{
      display: grid;
      grid-template-columns: 1fr;
      height: 3.5vh;
      width: 250px;
      padding: 1mm;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      font-size: 20px;
      background-color: #ff6547;
      color:white;
      text-align: center;
      white-space: normal;
    }

    #changePicture div{
      padding: 0em;
      margin: 0em;
      height: 100%;
      width: 100%;
      grid-row-start: 1;
      grid-column-start: 1
    }
    #hiddenButton{
      grid-row-start: 1;
      grid-column-start: 1;
      opacity: 0;
      height: 100%;
      width: 100%;
      
    }
    #newProfileDiv{
      font-size: 2vh;
    }
    #userName{
      border-color:rgb(0, 0, 0);
      background: rgb(255, 255, 255);
      padding: 0em;
      text-align: center;
      width: 70%;
      padding: 0;
      font-size: 3vw;
      display: block; 
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    #bio{
      border-color:rgb(0, 0, 0);
      background: rgb(255, 255, 255);
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      min-height: 10vh;
      font-size: 3vw;
      display:inline-block;
      text-align: center;
    }
    #changeUserInfo{ 
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      min-height: 4vh;
      display: block;
      font-size: 2vh;
      background-color: #ff6547;
      color:white;
      display:inline-block;
      text-align: center;
      margin-top: 2vh;
      margin-bottom: 2vh;
      border-width: 0;
      white-space: normal;
    }
  #neu{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* info Screen*/

  #infopic{
    display:inline-block;
      object-fit: cover;
      border-radius: 50%;
      height: calc(22vh);
      width: calc(22vh);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  
  /* info Screen*/

  #infopic{
    margin-top: 2vh;
    display:inline-block;
      object-fit: cover;
      border-radius: 50%;
      height: calc(22vh);
      width: calc(22vh);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  
#infohead{
  background-color:#484848;
  color: #ff6547;
  font-size: 5vh;
  height: 10vh;
  text-align: center;
}

#infotime{
  color:white;
  width: auto;
  font-size: 2vh;
 text-align: left;
 margin-left: 30vw;
 }
 
#infodesc{
  background-color: white;
  width: 70%;
  height: 20vw;
  margin-left:auto;
  margin-right: auto;
}

#infomanager{
  font-size: 2vh;
  text-align: left;
  margin-left: 30vw;
  color:white
}
.seperator{
  border-color: white;
  width: 70%;
  border-width: 1mm;
}
#eventButtons{
  display: inline-block;
    text-align: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
#updateEventButton{
  display: inline-block;
  

}
#infoDeleteEventButton{
 display: inline-block;


}
.updateEventButtonDesign{
  border-radius: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  display: block;
  font-size: 20px;
  background-color: #ff6547;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  white-space: normal;
}
.infoDeleteEventButtonDesign{
  border-radius: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  display: block;
  font-size: 20px;
  background-color: #ff6547;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  white-space: normal;
}
.backButton{
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 2px;
  left: 0px;
  margin-right: 10px;
  font-size: 20px;
  background-color: #ff6547;
  color: white;
  display: inline-block;
  text-align: center;
  position: absolute;
  white-space: normal;
  
}